<div cdkDropListGroup>
  <div class="example-container">
    <h2>Current Street</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="currentStreet$"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box-horizontal"
        *ngFor="let item of currentStreet$"
        cdkDrag
      >
        <mat-card>
          {{ item.name }}
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container row">
    <div class="example-container">
      <h2>Choose from...</h2>

      <div
        cdkDropList
        [cdkDropListData]="modules$"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of modules$" cdkDrag>
          <mat-card>
            {{ item.name }} </mat-card
          >
        </div>
      </div>
    </div>
  </div>
</div>
