<div class="jumbotron jumbotron-fluid">
  <div class="container"></div>
  <h1 class="display-4">ACA Wegenbouwer</h1>
</div>

<div class="container-fluid" cdkDropListGroup>
  <div class="row">
    <div class="col-md-2">
      <div class="container col-sm-10 col-md-8 col-lg-6">
        <h5 class="progress-title">Voortgang</h5>
        <ul class="nav flex-column nav-pills">
          <li class="nav-item">
            <a class="nav-link active">Jaar 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Jaar 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Jaar 3</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Content -->
    <div class="col-md-10">
      <h2 class="row title">Kies een wegdeel voor periode 3 en maak de snelweg
        af</h2>
      <br />
      <div class="row">
        <div *ngFor="let item of currentStreet$; let i= index">
          <div *ngIf="i != 2">
            <h3 class="module-title">periode {{ i + 1 }}</h3>
            <div class="card" [style.background-color]="item.color">
              <h5 class="card-title">{{ item.name }}</h5>
              <div class="card-body">
                <p class="card-text"></p>
              </div>
              <hr class="emergencyLane" />
              <hr class="dividerLine" />
            </div>
          </div>
          <div *ngIf="i == 2">
            <div>
              <div *ngIf="!item.name">
                <div cdkDropList [cdkDropListData]="currentStreet$" (cdkDropListDropped)="swap($event)">
                  <h3 class="module-title">periode {{ i + 1 }}</h3>
                  <div class="card image" cdkDrag>
                    <div class="card-body"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="item.name">
                <div cdkDropList [cdkDropListData]="currentStreet$" (cdkDropListDropped)="swap($event)">
                  <h3 class="module-title">periode {{ i + 1 }}</h3>
                  <div class="card" [style.background-color]="item.color">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <div class="card-body"></div>
                    <hr class="emergencyLane" />
                    <img src="../assets/Images/trucks/GreenTruck.png" alt="" class="iconTruck">
                    <hr class="dividerLine" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!-- Search row -->
  <div class="row">
    <div class="col-md-3 align-left">
      <table>
        <tr>
          <input type="checkbox" value="test" id="filter1" class="filter" (change)="changed($event)">
          <label for="filter1"> Test</label></tr>
        <tr>
          <input type="checkbox" value="6" id="filter2" class="filter" (change)="changed($event)">
          <label for="filter2"> 6</label></tr>
        <tr>
          <input type="checkbox" value="5" id="filter3" class="filter" (change)="changed($event)">
          <label for="filter3"> 5</label></tr>
        <tr>
          <input type="checkbox" value="4" id="filter4" class="filter" (change)="changed($event)">
          <label for="filter4"> 4</label></tr>
      </table>
    </div>
    <div class="col-md-5">
      <h2 class="title">Zoeken</h2>
      <input (keyup)="onKeyUp($event)" type="text" class="form-control" placeholder="Module zoeken"
        aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <br>
  <!-- Container met items -->
  <div class="row">
    <div class="col-md 2"></div>
    <div class="col-md-10">
      <div cdkDropList [cdkDropListData]="results" (cdkDropListDropped)="swap($event)">
        <div class="row">
          <div *ngFor="let item of results" cdkDrag>
            <div class="card" [style.background-color]="item.color">
              <h5 class="card-title">{{ item.name }}</h5>
              <div class="card-body">
                <p class="card-text"></p>
              </div>
              <hr class="emergencyLane" />
              <script src="imageRandomizer.js"></script>
              <img src="../assets/Images/trucks/GreenTruck.png" alt="" class="iconTruck">
              <hr class="dividerLine" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
